In [34]:
import pandas as pd
import ast

In [56]:
df1=pd.read_csv(r'C:\Users\Yasaman\Arab_spring_scholarly_attention\Validation sampling\res_new.csv')
df1=df1.rename(columns={'code_hongyu':'annot_by_hongyu', 'code_yas':'annot_by_yasaman'}).drop(columns=['Annotated_By_Hongyu', 'Annotated_By_Yas'])
df1['annotator_1']=df1['annot_by_hongyu']
df1['annotator_2']=df1['annot_by_yasaman']
df1['annotator_1'] = df1['annotator_1'].apply(ast.literal_eval)
df1['annotator_2'] = df1['annotator_2'].apply(ast.literal_eval)
df1['intersection_annotation'] = df1.apply(lambda row: list(set(row['annotator_1']).intersection(set(row['annotator_2']))), axis=1)
df1['union_annotation'] = df1.apply(lambda row: list(set(row['annotator_1']).union(set(row['annotator_2']))), axis=1)
df1['annotator_agreement']=df1['annotator_1']==df1['annotator_2']

In [39]:
df2=pd.read_csv(r'C:\Users\Yasaman\Arab_spring_scholarly_attention\Validation sampling\final.csv')
df2['union_annotation'] = df2['union_annotation'].apply(ast.literal_eval)
df2['intersection_annotation'] = df2['intersection_annotation'].apply(ast.literal_eval)
df2['Mentions'] = df2['Mentions'].apply(ast.literal_eval)

In [47]:
df2[df2['SampleGroup']=='with_mention_arab']['Mentions'].explode().value_counts().reset_index()

   Mentions  count
0       egy     64
1       jor     35
2       tun     29
3       mar     18
4       syr     18
..      ...    ...
69      mda      1
70      pol      1
71      lka      1
72      lva      1
73      hrv      1

[74 rows x 2 columns]

In [120]:
res_df=pd.concat([df1,df2]).drop(columns=['Unnamed: 0']).reset_index(drop=True)
res_df[res_df['SampleGroup']=='with_mention_arab']['union_annotation'].explode().value_counts().reset_index()[:30]
to_remove_jordan=[819, 830, 840, 865, 870]
res_df.drop(index=to_remove_jordan, inplace=True)
to_remove_egy=res_df[res_df['SampleGroup']=='with_mention_arab'][res_df['Mentions'].apply(lambda x:x==['egy'])].index[4:]
res_df.drop(index=to_remove_egy, inplace=True)

to_remove_tun=res_df[res_df['SampleGroup']=='with_mention_arab'][res_df['Mentions'].apply(lambda x:x==['tun'])].index[:7]
res_df.drop(index=to_remove_tun, inplace=True)

C:\Users\Yasaman\AppData\Local\Temp\ipykernel_24012\129329042.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  to_remove_egy=res_df[res_df['SampleGroup']=='with_mention_arab'][res_df['Mentions'].apply(lambda x:x==['egy'])].index[4:]
C:\Users\Yasaman\AppData\Local\Temp\ipykernel_24012\129329042.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  to_remove_tun=res_df[res_df['SampleGroup']=='with_mention_arab'][res_df['Mentions'].apply(lambda x:x==['tun'])].index[:7]

In [144]:
res_df.to_csv('final_annotated.csv', index=False)

In [128]:
res_df.SampleGroup.value_counts()

SampleGroup
field_20             520
with_mention         277
with_mention_arab    203
Name: count, dtype: int64

In [138]:
to_remove_jor=res_df[res_df['SampleGroup']=='with_mention_arab'][res_df['Mentions'].apply(lambda x:x==['jor'])].index[:3]

C:\Users\Yasaman\AppData\Local\Temp\ipykernel_24012\2160173882.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  to_remove_jor=res_df[res_df['SampleGroup']=='with_mention_arab'][res_df['Mentions'].apply(lambda x:x==['jor'])].index[:3]

In [140]:
res_df.loc[to_remove_jor, 'SampleGroup'] = 'with_mention'