In [1]:
import pandas as pd

In [2]:
pop_df=pd.read_csv(r'C:\Users\Yasaman\Downloads\World_bank_population.csv',skiprows=3)
pop_df=pop_df[['Country Code','2019']].dropna()
pop_df['2019']=pop_df['2019'].astype(int)
possible_countries=pop_df.query(" `2019` >=1000000")['Country Code'].values
possible_countries=[x.lower() for x in possible_countries]

In [ ]:
excluded_iso3_codes = [
    "IRL",  # Ireland
    "SSD",  # South Sudan
    "SDN",  # Sudan
    "COG",  # Republic of the Congo
    "COD",  # Democratic Republic of the Congo
    "GIN",  # Guinea
    "GNB",  # Guinea-Bissau
    "GNQ",  # Equatorial Guinea
    "PNG",  # Papua New Guinea
    "XKX",  # Kosovo (unofficial)
    "MNE",  # Montenegro
    "SRB",  # Serbia
    "TLS" ,  # Timor-Leste,
    'GEO'

]
excluded_iso3_codes=[c.lower() for c in excluded_iso3_codes]

In [9]:
possible_iso=list(set(possible_countries)-set(excluded_iso3_codes))

In [13]:
df = pd.read_csv(r"C:\Users\Yasaman\Downloads\Attention-fractional counting.csv")
df=df[df['country'].isin(possible_iso)]
df.rename(columns={'aggregated_value': 'count', 'country': 'Mention_country', 'affiliation_country': 'Aff_country'}, inplace=True)
df = df[df['year'].isin(range(2002, 2020))]

In [23]:
df

         year subjarea Mention_country Aff_country       count
9        2002     BUSI             usa         usa  387.287541
10       2002     ENVI             aus         aus  309.899627
11       2002     ENVI             ind         gbr    7.051852
12       2002     SOCI             esp         usa   11.219084
13       2002     MEDI             bel         bel  104.618141
...       ...      ...             ...         ...         ...
1772434  2011     SOCI             vnm         che    0.125000
1772435  2010     AGRI             ago         fin    0.333333
1772437  2012     EART             nor         irn    0.125000
1772439  2016     ECON             pan         gbr    0.500000
1772445  2018     ENGI             mdg         fin    0.027778

[1060351 rows x 5 columns]

In [16]:
print('Number of included countries:')
df.Mention_country.nunique()

Number of included countries:

148