In [33]:
import pandas as pd

In [8]:
pop_df=pd.read_csv(r'C:\Users\Yasaman\Downloads\World_bank_population.csv',skiprows=3)
pop_df=pop_df[['Country Code','2002','2019']].dropna()
pop_df['2019']=pop_df['2019'].astype(int)
possible_countries=pop_df.query(" `2019` >=1000000")['Country Code'].values
possible_countries=[x.lower() for x in possible_countries]

In [38]:
Country_list={'Egypt':'EGY', 'Tunisia':'TUN','Libya':'LBY','Syria':'SYR','Yemen':'YEM','Bahrain':'BHR','Jordan':'JOR','Kuwait':'KWT','Morocco':'MAR','Oman':'OMN'}
rev_Country_list={Country_list[key]: key for key in Country_list}
abbr=[country for country in Country_list.values()]
table=pop_df[pop_df['Country Code'].isin(abbr)].sort_values('2002')
print("Median", ' 2002: ',pop_df['2002'].median(),'----2019: ',pop_df['2019'].median())
table.reset_index(drop=True)

Median  2002:  8400180.0 ----2019:  9054000.0

  Country Code        2002       2019
0          BHR    710553.0    1483756
1          KWT   2059974.0    4442316
2          OMN   2337140.0    4591241
3          LBY   5508410.0    6951033
4          JOR   5616066.0   10671891
5          TUN   9971515.0   11875081
6          SYR  17468332.0   20353534
7          YEM  20835086.0   35111408
8          MAR  29198142.0   36210898
9          EGY  76239137.0  107553158